code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

[data-rehype-pretty-code-fragment] {
  @apply relative bg-muted/40 dark:bg-muted/40 rounded-lg border-border border mb-4 mt-6;
}

[data-value]>[data-rehype-pretty-code-fragment] {
  @apply bg-transparent m-0 static;
}

[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  @apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers]>.line::before {
  @apply text-zinc-50/40 text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted,
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply bg-foreground/4 dark:bg-foreground/5;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md p-1;
}

.mdx>.steps:first-child>h3:first-child {
  @apply mt-0;
}

.steps>h3 {
  @apply mt-8 mb-4 text-base font-semibold;
}

strong {
  @apply font-semibold;
}

strong>code {
  @apply font-bold;
}

/* FIX: the animation bounce it bounces so hard. = ==========================*/

:root {
  --duck-spring: linear(0,
      0.001 0.4%,
      0.007 0.9%,
      0.016 1.4%,
      0.028 1.9%,
      0.065 3%,
      0.114 4.1%,
      0.165 5.1%,
      0.228 6.2%,
      0.504 10.7%,
      0.62 12.7%,
      0.734 14.9%,
      0.827 17%,
      0.865 18%,
      0.902 19.1%,
      0.934 20.2%,
      0.963 21.3%,
      0.987 22.4%,
      1.009 23.6%,
      1.026 24.8%,
      1.04 26%,
      1.051 27.4%,
      1.059 28.9%,
      1.064 30.5%,
      1.064 32.2%,
      1.062 34%,
      1.056 36.1%,
      1.026 44.1%,
      1.013 47.9%,
      1.004 51.8%,
      0.999 55.9%,
      0.996 63.9%,
      1 83.2%,
      1);
  --min-height: 0px;
  --max-height: 320px;
}

.parent {
  display: grid;
}

.parent2 {
  /* grid-template-rows: 1; */
}

.progress-mask {
  -webkit-mask-image: linear-gradient(to right, #fb2c36, #00c951);
  mask-image: linear-gradient(to right, #fb2c36, #00c951);
}

.one {
  display: grid;
  gap: 0.5rem;
  background-color: hsl(var(--background));
  transition: all 550ms;
  height: calc(var(--max-height) / 1.3);
  transition-duration:
    all 450s,
    opacity 200ms;
  will-change: transform, opacity, grid;
  transition-timing-function: var(--duck-spring);
  overflow: hidden;
}

.one2 {
  overflow: hidden;
  opacity: 0;
  height: var(--min-height);
  transform: translateY(-5rem) scale(0.8);
  pointer-events: none;
}

.two {
  display: grid;
  gap: 0.5rem;
  transition: all 550ms;
  will-change: transform, opacity, grid;
  transform: translateY(0);
  overflow: hidden;
  background-color: hsl(var(--background));
  opacity: 0;
  height: var(--min-height);
  overflow: hidden;

  pointer-events: none;
  transition-timing-function: var(--duck-spring);
}

.two2 {
  animation-delay: 50ms;
  overflow: auto;
  height: calc(var(--max-height) * 1.5);
  transform: translateY(0) scale(1);
  opacity: 1;
  pointer-events: auto;
}

/* @layer base { */
/*   * { */
/*     @apply border-border; */
/*     scroll-behavior: smooth; */
/*   } */
/**/
/*   html { */
/*     @apply scroll-smooth; */
/*   } */
/**/
/*   ::-webkit-scrollbar { */
/*     display: none; */
/*     width: 0px; */
/*   } */
/**/
/*   ::-webkit-scrollbar-track { */
/*     background: transparent; */
/*   } */
/**/
/*   ::-webkit-scrollbar-thumb { */
/*     background: red; */
/*     border-radius: 5px; */
/*   } */
/**/
/*   body { */
/*     overflow: hidden; */
/*     font-feature-settings: "rlig" 1, "calt" 1; */
/*     font-synthesis-weight: none; */
/*     text-rendering: optimizeLegibility; */
/*   } */
/**/
/*   .duck-truncate { */
/*     display: -webkit-box; */
/*     -webkit-box-orient: vertical; */
/*     -webkit-line-clamp: 1; */
/*   } */
/* } */

/* reset */
