@import "tailwindcss";

@source "../node_modules/@gentleduck/registry-ui-duckui/src/";
@source "../node_modules/@gentleduck/registry-blocks-duckui/src/";
@source "../node_modules/@gentleduck/registry-examples-duckui/src/";
@source "../node_modules/@gentleduck/lazy/src/";
@source "../../../packages/_oldstuff_refactor/ui/";
@source "../node_modules/@gentleduck/motion/src/";

@import "./base.css";
@import "./themes.css";
@import "./mdx.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Adjusted Lucida Sans Typewriter Fallback";
  src: local("Lucida Sans Typewriter");
  size-adjust: 119%;
  ascent-override: 86%;
  descent-override: 16%;
  line-gap-override: 30%;
}

@font-face {
  font-family: "Adjusted Arial Fallback";
  src: local("Arial");
  size-adjust: 99%;
  ascent-override: 101%;
  descent-override: 26%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Geist";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Geist-VF.woff2) format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/GeistMono-VF.woff2) format("woff2");
}

@theme {
  --animate-shine: shine 8s ease-in-out infinite;

  @keyframes shine {
    from {
      background-position: 200% 0;
    }

    to {
      background-position: -200% 0;
    }
  }
}

@layer base {
  * {
    @apply border-border font-medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  html {
    @apply scroll-smooth;
  }

  .font-sans {
    font-family: var(--font-sans-geist) !important;
  }

  .font-mono {
    font-family: var(--font-mono-geist) !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }

  ::selection {
    color: var(--selection-foreground);
    background-color: var(--selection);
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  image {
    user-select: none;
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}

@utility duck-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step::before {
    content: counter(step);
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }

  .border-grid {
    @apply border-border/30 dark:border-border border-dashed;
  }

  /* .container { */
  /*   @apply px-4 xl:px-6 mx-auto max-w-[1950px]; */
  /* } */

  .container {
    @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
  }
}

/* @utility container-wrapper { */
/*   @apply 3xl:fixed:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2; */
/* } */
/**/
/* @utility container { */
/*   @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8; */
/* } */

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }

  [duck-abc] {
    @apply w-600;
  }
}

@layer utilities {
  .ellipsis {
    /* font-size: 0.75rem; */
    /* line-height: 1rem; */
    display: grid;
    -webkit-box-orient: vertical;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* font-size: 0.75rem; */
    /* line-height: 1rem; */
    font-weight: 500;
    white-space: nowrap;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VF.woff2) format("woff2");
}

@layer components {
  code,
  code > * > *,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
    font-style: normal;
    font-weight: 600;
    font-optical-sizing: auto;
  }

  [data-theme="light"] {
    display: block;
  }

  [data-theme="dark"] {
    display: none;
  }

  .dark [data-theme="light"] {
    display: none;
  }

  .dark [data-theme="dark"] {
    display: block;
  }

  [data-rehype-pretty-code-fragment] {
    @apply relative bg-muted/40 dark:bg-muted/40 rounded-lg border-border border mb-4 mt-6;
  }

  div[data-value]:not([data-value="cli"])[duck-tabs-content] > [data-rehype-pretty-code-fragment] {
    @apply bg-transparent m-0 static rounded-none border-0;
  }

  [data-rehype-pretty-code-fragment] code {
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-rehype-pretty-code-fragment] .line {
    @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] .line {
    @apply px-2;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    display: inline-block;
    width: 1.8rem;
    margin-right: 1.4rem;
    text-align: right;
    content: counter(line);
    counter-increment: line;
    @apply text-zinc-50/40 text-xs;
  }

  [data-rehype-pretty-code-fragment] .line--highlighted,
  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply bg-foreground/4 dark:bg-foreground/5;
  }

  [data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
  }

  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md p-1;
  }

  strong {
    @apply font-semibold;
  }

  strong > code {
    @apply font-bold;
  }

  .steps {
    &:first-child {
      @apply !mt-6;
    }

    &:first-child > h3:first-child {
      @apply !mt-6;
    }

    > h3 {
      @apply mt-8 mb-4 text-base font-semibold;
    }

    > h3 + p {
      @apply !mt-2;
    }
  }

  [data-rehype-pretty-code-figure] {
    position: relative;
    margin-top: calc(var(--spacing) * 6);
    overflow: hidden;
    font-size: var(--text-base);
    color: var(--color-code-foreground);
    outline: none;
    background-color: var(--color-code);
    border-color: var(--border);
    border-width: 0px;
    border-radius: var(--radius-lg);
    @apply -mx-1 md:-mx-1;

    &:has([data-rehype-pretty-code-title]) [data-slot="copy-button"] {
      top: calc(var(--spacing) * 1.5) !important;
    }
  }

  [data-rehype-pretty-code-title] {
    padding-block: calc(var(--spacing) * 2.5);
    padding-inline: calc(var(--spacing) * 4);
    font-family: var(--font-mono);
    font-size: var(--text-base);
    color: var(--color-code-foreground);
    border-bottom: color-mix(in oklab, var(--border) 30%, transparent);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-line-numbers] [data-line]::before {
    position: sticky;
    left: 0;
    display: inline-block;
    width: calc(var(--spacing) * 16);
    padding-right: calc(var(--spacing) * 6);
    font-size: var(--text-base);
    color: var(--color-code-number);
    text-align: right;
    content: counter(line);
    counter-increment: line;
    background-color: var(--color-code);
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    background-color: var(--color-code-highlight);
  }

  [data-line] {
    display: inline-block;
    width: 100%;
    min-height: calc(var(--spacing) * 1);
    padding-top: calc(var(--spacing) * 0.5);
    padding-bottom: calc(var(--spacing) * 0.5);
  }

  [data-line] span {
    color: var(--shiki-light);

    @variant dark {
      color: var(--shiki-dark) !important;
    }
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    position: relative;
    background-color: var(--color-code-highlight);
  }

  [data-highlighted-line] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      content: "";
      background-color: color-mix(in oklab, var(--muted-foreground) 50%, transparent);
    }
  }

  [data-highlighted-chars] {
    padding-block: 0.1rem;
    padding-inline: 0.3rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
    border-radius: var(--radius-md);
  }
}
