@import "./base.css";
@import "./mdx.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Adjusted Lucida Sans Typewriter Fallback";
  src: local("Lucida Sans Typewriter");
  size-adjust: 119%;
  ascent-override: 86%;
  descent-override: 16%;
  line-gap-override: 30%;
}

@font-face {
  font-family: "Adjusted Arial Fallback";
  src: local("Arial");
  size-adjust: 99%;
  ascent-override: 101%;
  descent-override: 26%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Geist";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Geist-VF.woff2) format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/GeistMono-VF.woff2) format("woff2");
}

@theme {
  --animate-shine: shine 8s ease-in-out infinite;

  @keyframes shine {
    from {
      background-position: 200% 0;
    }

    to {
      background-position: -200% 0;
    }
  }
}

@layer base {
  * {
    @apply border-border font-medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  html {
    @apply scroll-smooth;
  }

  .font-sans {
    font-family: var(--font-sans-geist) !important;
  }

  .font-mono {
    font-family: var(--font-mono-geist) !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }

  ::selection {
    color: var(--selection-foreground);
    background-color: var(--selection);
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  image {
    user-select: none;
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}

@utility duck-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step::before {
    content: counter(step);
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }

  .border-grid {
    @apply border-border/30 dark:border-border border-dashed;
  }

  .container {
    @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }

  [duck-abc] {
    @apply w-600;
  }
}

@layer utilities {
  .ellipsis {
    display: grid;
    -webkit-box-orient: vertical;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    font-weight: 500;
    white-space: nowrap;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
