@import "tailwindcss";

@source "../node_modules/@gentleduck/registry-ui-duckui/src/";
@source "../node_modules/@gentleduck/registry-blocks-duckui/src/";
@source "../node_modules/@gentleduck/registry-examples-duckui/src/";
@source "../node_modules/@gentleduck/duck-docs/src/";
@source "../node_modules/@gentleduck/lazy/src/";
@source "../../../packages/_oldstuff_refactor/ui/";
@source "../node_modules/@gentleduck/motion/src/";

@import "@gentleduck/duck-docs/styles/docs.css";
